.grid-product-cols-2{
    grid-template-columns: 1fr 4fr;
}
.label-group{
    padding: 1rem;
}
.product-filter{
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.filters{
    padding:1rem; 
}

.slider-price-range{
    justify-content: space-between;
    font-size: medium;
}

.products{
    margin: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.product-list{
    display: grid;
    grid-template-columns: 20rem calc(100vw-20);
    grid-template-rows: 100vh;
    grid-template-areas: "sidebar main";
}
.product-list-filter{
    grid-area: sidebar;
    overflow: auto;
}
.product-list-main{
    grid-area: main;
    justify-content: center;  
    overflow: scroll;
}
.product-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
