@import url('utils.css');
@import url('styles/index.css');

.App {
  display: grid;
  grid-template-rows: 15vh calc(100vh-15) ;
  /* grid-template-rows: 1fr 5fr ; */
  /* 17vh ; */
  grid-template-areas: 
  "first"
  "second"
}
.nav-mode{
  grid-area: first;
}
.main-mode{
  grid-area: second;
  /* overflow: auto; */
}
/* .footer-mode{
  grid-area: third;
} */
.head-heading{
  color: var(--secondary-color);
}
.btn{
  font-weight: bold;
    font-family: inherit;
}