@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;0,700;0,800;0,900;1,500&family=Roboto+Serif:ital,wght@0,100;0,300;1,100;1,200&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto Serif', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-link{
  color:var(--primary-color);
  text-decoration: none;
}


/* just for making it work */
/* home layout */
/* 
.outer-wrapper {
  flex-direction: column;
  gap: var(--sm-size);
  padding: var(--sm-size);
}

.screen {
  flex-wrap: wrap;
  gap: var(--sm-size);
  margin: 10rem 0 5.2rem 0;
}

.image-wrapper {
  height: auto;
  align-items: center;
}

.footer {
  background-color: var(--secondary-color);
  position: fixed;
  bottom: 0;
  height: 5vh;
}

/* filters */
/* 
.filter-wrapper {
  width: 25.6rem;
  margin-top: 6.1rem;
  overflow-y: scroll;
  height: 83vh;
  position: fixed;
}

.filter-buttons {
  display: none;
} */
/* spacing  */
/* 
.full-width {
  width: 100%;
}

.margin-left {
  margin-left: 4.8rem;
}

.margin-right {
  margin-right: 4.8rem;
}

.margin {
  margin: 1.6rem;
} */

/* styling  */

/* .primary-color {
  color: var(--primary-color);
}

body {
  font-family: var(--body-font);
} */

/* product listing */
/* .product-listing {
  margin-left: 25.6rem;
}

.display-screen {
  margin: 6.8rem 0 5.2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--sm-size);
}

.toast-position {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
} */

/* cart */
/* .custom-width {
  width: var(--xl-size);
  height: var(--xl-size);
}

.form {
  width: 35rem;
}
.form-container {
  border: 1px solid var(--secondary-color);
}

.input-width {
  width: 30rem;
} */
/* 
@media screen and (max-width: 54em) {
  html {
    font-size: 35%;
  }

  .screen {
    margin-top: 12rem;
  }

  .display-screen {
    margin-top: 12rem;
    width: 100%;
  }

  .filter-wrapper {
    display: none;
  }

  .product-listing {
    margin-top: -2rem;
    margin-left: 0;
  }

  .filter-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    position: fixed;
    bottom: 5vh;
  }
}
 */ 
